@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebeef1;
    font-family: 'Roboto', sans-serif;
}

.heading{
    background-color: #fff;
    color: #444;
    text-align: center;
    padding: 2rem;
    font-size: 1.01rem;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn:link, .btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .80rem;
    letter-spacing: 2px;
    display: block;
    width: 60%;
    border: none;
    background-color: #444;
    color: #d3d9e3;
    font-weight: bold;
    padding: .4rem;
    margin: 1.21rem auto;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(95, 94, 94);

}