@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

label {
    width: 240px;
    display: inline-block;
    color: #636363;
    font-weight: bold;
}​

.autreField > *{
    display: block;
}

form{
    display:flex;
    justify-content: space-evenly;
    background-color: #fcedb8;
    padding: 5rem;
}

.container {
    min-width: 1070px;
    margin: 0 auto;
}

.form-container{
    background-color: #fcedb8;
    padding: 5rem;
}

.form-container{
    display:flex;
    justify-content: space-evenly;
}

.form-container2{
    display:flex;
    justify-content: center;
    background: #fff;
    padding: 3rem;
}

.form-container3{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: #96cde8;
    padding: 5rem;
}

.form-container3 > * > *{
    margin: .5rem;

}

.column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column1 > *{
    margin: .5rem;
}

.column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column2 > *{
    margin: .5rem;
}

.row{
    display: block;
}

.text-primary {
    padding: 1.5rem;
    text-align: center;
    background-color: #384f70;
    color:#fff;
}

.btn_valider{
    display: block;
    padding: 1.5rem;
    width: 80%;
    background-color: #384f70;
    margin: 0.2rem auto;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
}

.btn_valider:hover{
    background-color: #4b6486;
    transition: all .5s;
}